h1 {
  font-size: 2rem;
  line-height: 1.1;
  font-family: "pacifico";
  text-align: center;
}

header {
  background-color: #b9e3f3;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 0.9rem;
  font-size: 1.5rem;
}

nav li:last-child {
  margin-right: 0;
}

nav li a {
  color: #2e2d2d;
}

nav li a:hover {
  text-decoration: underline;
}

nav li a.active {
  color: orange;
}

